.sign-in-modal {
  display: flex;
}

.sign-in-modal__zone-sign-in {
  padding-left: 20px;
  padding-top: 40px;
}

.sign-in-modal__zone-close {
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
}

.sign-in-modal-section {
  margin: 4px 0;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-modal-section_justify-content-space-between {
  justify-content: space-between;
}

.sign-in-modal-section_justify-content-start {
  justify-content: flex-start;
}

.sign-in-modal-section_padding-6 {
	padding-top: 6px;
}

.sign-in-modal-header {
	color: #242424;	
	font-family: Roboto;	
	font-size: 18px;
	font-weight: normal;
}

.sign-in-modal-button {
	height: 30px;	
	width: 30%;	
	border-radius: 4px;	
	background-color: #083BBC;	
	cursor: pointer;
	border: 0;		
}

.sign-in-modal-button__text {	
	color: #FFFFFF;	
	font-family: Roboto;	
	font-size: 14px;	
	font-weight: 500;	
	cursor: pointer;
}

.sign-in-modal-input {	
	height: 30px;	
	width: 100%;	
	border: 1px solid #E3E3E7;	
	border-radius: 4px 4px 4px 4px;
	background-color: #FFFFFF;
	padding-left: 5px;
}

.sign-in-modal-input-description {	
	color: #909599;	
	font-family: Roboto;	
	font-size: 14px;
}

.sign-in-modal-link {	
	color: #909599;	
	font-family: Roboto;	
	font-size: 14px;
	cursor: pointer;	
}

.sign-in-modal-label {
	color: #B99E96;	
	font-family: Roboto;	
	font-size: 14px;	
	font-weight: 500;
}

.sign-in-modal-line {
	border: none;
  color: #B99E96;
  background-color: #B99E96;
  height: 1px;
}

.sign-in-modal-warning {
	height: 30px;	
	width: 100%;	
	border: 1px solid #F4282D;	
	border-radius: 4px;	
	background-color: #F8ECEC;	
	box-shadow: 0 10px 18px 0 rgba(227,227,231,0.5);
	text-align: center;
}

.sign-in-modal-warning__text {
	color: #F4282D;	
	font-family: Roboto;	
	font-size: 16px;
	vertical-align: sub;
}

.sign-in-modal-picture {
  background-image: url(../../entry/picture.png);
  height: 500px;
  width: 500px;
}
